.counter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 3em 2em 3em;
    border-radius: 1em;
    width: 13vw;
    height: 40vh;
    background-color: rgba(162, 173, 113, 0.63);
    box-shadow: -1px -1px 7px black;
    
    button {
        border: none;
        padding: .5em;
        width: 70px;
        border-radius: 3em / 5em;
        background-color: rgb(22, 23, 71);
        box-shadow: 0px 1px 5px blue;
        color: ivory;
    }

    button:hover {
        opacity: 1;
        box-shadow: 3px -1px 10px rgb(3, 7, 41);
        opacity: 0.85;
        transform: scale(1.1);
        transition: 0.2s;
        font-weight: 600;
    }

    button:active {
        opacity: 1;
        transform: scale(1);
        transition: .1;
    }

    span {
        display: flex;
        label {
            padding-left: 5px;
        }
    }
}
@media screen and (max-width: 1266px) {
    .counter {
        width: 11vw;
        margin: 0em 2em 2em 1.5em;
    }
}
@media screen and (max-width: 1119px) {
    .counter {
        flex-direction: row;
        width: auto;
        height: auto;
        margin-right: 3.5em;
    }
}
@media screen and (max-width: 930px) {
    .counter {
        h2 {
            font-size: .8em;
        }
        button {
            font-size: .6em;

        }
    }
}
@media screen and (max-width: 650px) {
    .counter {
        span {
            font-size: .7em;
        }
    }
}
@media screen and (max-width: 605px) {
    .counter {
        width: auto;
    }
}