@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.app-container {
    background-image: url('./Assets/cool-computer-wallpapers-backgrounds.jpg');
    background-size: cover;
    padding: 1em 4em 2em 4em;
    min-height: calc(100vh - 3em);
}
